:root {
    --color-white: #ffffff;
    --color-blue-1: #42a4ff;

    --color-gray-1: #f9f9f9;
    --col-width: 8.333%;
    --padding-base: 0.5rem;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  .strach-link::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }
  .col-1 {
    width: calc(1 * var(--col-width));
  }
  .col-2 {
    width: calc(2 * var(--col-width));
  }
  .col-3 {
    width: calc(3 * var(--col-width));
  }
  .col-4 {
    width: calc(4 * var(--col-width));
  }
  .col-5 {
    width: calc(5 * var(--col-width));
  }
  .col-6 {
    width: calc(6 * var(--col-width));
  }
  .col-7 {
    width: calc(7 * var(--col-width));
  }
  .col-8 {
    width: calc(8 * var(--col-width));
  }
  .col-9 {
    width: calc(9 * var(--col-width));
  }
  .col-10 {
    width: calc(10 * var(--col-width));
  }
  .col-11 {
    width: calc(11 * var(--col-width));
  }
  .col-12 {
    width: calc(12 * var(--col-width));
  }

  .p-0 {
    padding: 0;
  }

  .p-1 {
    padding: calc(1 * var(--padding-base));
  }

  .p-2 {
    padding: calc(2 * var(--padding-base));
  }

  .p-3 {
    padding: calc(3 * var(--padding-base));
  }

  .p-4 {
    padding: calc(4 * var(--padding-base));
  }

  .p-5 {
    padding: calc(5 * var(--padding-base));
  }

  .ps-1 {
    padding-left: calc(1 * var(--padding-base));
  }

  .ps-2 {
    padding-left: calc(2 * var(--padding-base));
  }

  .ps-3 {
    padding-left: calc(3 * var(--padding-base));
  }

  .ps-4 {
    padding-left: calc(4 * var(--padding-base));
  }

  .ps-5 {
    padding-left: calc(5 * var(--padding-base));
  }

  .pe-1 {
    padding-right: calc(1 * var(--padding-base));
  }

  .pe-2 {
    padding-right: calc(2 * var(--padding-base));
  }

  .pe-3 {
    padding-right: calc(3 * var(--padding-base));
  }

  .pe-4 {
    padding-right: calc(4 * var(--padding-base));
  }

  .pe-5 {
    padding-right: calc(5 * var(--padding-base));
  }

  .px-1 {
    padding-left: calc(1 * var(--padding-base));
    padding-right: calc(1 * var(--padding-base));
  }

  .px-2 {
    padding-left: calc(2 * var(--padding-base));
    padding-right: calc(2 * var(--padding-base));
  }

  .px-3 {
    padding-left: calc(3 * var(--padding-base));
    padding-right: calc(3 * var(--padding-base));
  }

  .px-4 {
    padding-left: calc(4 * var(--padding-base));
    padding-right: calc(4 * var(--padding-base));
  }

  .px-5 {
    padding-left: calc(5 * var(--padding-base));
    padding-right: calc(5 * var(--padding-base));
  }

  .py-1 {
    padding-top: calc(1 * var(--padding-base));
    padding-bottom: calc(1 * var(--padding-base));
  }

  .py-2 {
    padding-top: calc(2 * var(--padding-base));
    padding-bottom: calc(2 * var(--padding-base));
  }

  .py-3 {
    padding-top: calc(3 * var(--padding-base));
    padding-bottom: calc(3 * var(--padding-base));
  }

  .py-4 {
    padding-top: calc(4 * var(--padding-base));
    padding-bottom: calc(4 * var(--padding-base));
  }

  .py-5 {
    padding-top: calc(5 * var(--padding-base));
    padding-bottom: calc(5 * var(--padding-base));
  }

  .m-0 {
    margin: 0;
  }

  .m-1 {
    margin: calc(1 * var(--padding-base));
  }

  .m-2 {
    margin: calc(2 * var(--padding-base));
  }

  .m-3 {
    margin: calc(3 * var(--padding-base));
  }

  .m-4 {
    margin: calc(4 * var(--padding-base));
  }

  .m-5 {
    margin: calc(5 * var(--padding-base));
  }

  .ms-1 {
    margin-left: calc(1 * var(--padding-base));
  }

  .ms-2 {
    margin-left: calc(2 * var(--padding-base));
  }

  .ms-3 {
    margin-left: calc(3 * var(--padding-base));
  }

  .ms-4 {
    margin-left: calc(4 * var(--padding-base));
  }

  .ms-5 {
    margin-left: calc(5 * var(--padding-base));
  }

  .me-1 {
    margin-right: calc(1 * var(--padding-base));
  }

  .me-2 {
    margin-right: calc(2 * var(--padding-base));
  }

  .me-3 {
    margin-right: calc(3 * var(--padding-base));
  }

  .me-4 {
    margin-right: calc(4 * var(--padding-base));
  }

  .me-5 {
    margin-right: calc(5 * var(--padding-base));
  }

  .mt-1 {
    margin-top: calc(1 * var(--padding-base));
  }

  .mt-2 {
    margin-top: calc(2 * var(--padding-base));
  }

  .mt-3 {
    margin-top: calc(3 * var(--padding-base));
  }

  .mt-4 {
    margin-top: calc(4 * var(--padding-base));
  }

  .mt-5 {
    margin-top: calc(5 * var(--padding-base));
  }

  .fs-1 {
    font-size: 4em;
  }

  .fs-2 {
    font-size: 3em;
  }

  .fs-3 {
    font-size: 2em;
  }

  .fs-4 {
    font-size: 1em;
  }

  .fs-5 {
    font-size: 0.9em;
  }

  .vh-10 {
    height: 10vh;
  }
  .vh-20 {
    height: 20vh;
  }
  .vh-30 {
    height: 30vh;
  }
  .vh-40 {
    height: 40vh;
  }
  .vh-50 {
    height: 50vh;
  }
  .vh-60 {
    height: 60vh;
  }
  .vh-70 {
    height: 70vh;
  }
  .vh-80 {
    height: 80vh;
  }
  .vh-90 {
    height: 90vh;
  }
  .vh-100 {
    height: 100vh;
  }

  .list-style-type-none {
    list-style-type: none;
  }
  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .font-weight-bold {
    font-weight: bold;
  }

  .justify-content-center {
    justify-content: center;
  }
  .justify-content-space-between {
    justify-content: space-between;
  }

  .align-items-center {
    align-items: center;
  }
  .align-items-end {
    align-items: flex-end;
  }

  .flex-direction-row {
    flex-direction: row;
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .d-none {
    display: none;
  }
  .d-flex {
    display: flex;
  }

  .bg-blue-1 {
    background-color: var(--color-blue-1);
  }

  .bg-blue-2 {
    background-color: var(--color-blue-2);
  }

  .text-blue-3 {
    color: var(--color-blue-3);
  }
  .text-blue-2 {
    color: var(--color-blue-2);
  }

  .text-blue-1 {
    color: var(--color-blue-1);
  }

  .text-white {
    color: var(--color-white);
  }
  .link-blue-2 {
    color: var(--color-blue-2);
    transition: all 500ms;
  }
  .link-blue-2:hover {
    color: var(--color-white);
  }

  .link-blue-3 {
    color: var(--color-blue-3);
    transition: all 500ms;
  }
  .link-blue-3:hover {
    color: var(--color-blue-1);
  }


  .position-relative {
    position: relative;
  }


  .btn-primary:hover {
    background-color: var(--color-blue-2);
  }
  .bg-img-f {
    background-image: url(../photoshop/design-assets/bgk-footer.png);
    background-repeat: no-repeat;
  }
  .bg-img-m {
    background-image: url(../photoshop/design-assets/bgk-middle.png);
    background-repeat: no-repeat;
  }
  .font-family{font-family: 'Roboto', sans-serif;}
  .box {
    border-style: solid;
    height: 30px;
    width: 150px;
    outline: 2px;
    background-color:#f9f9f9; opacity:30%;
  }

  .box-2{border-style: solid;border-color: #ffffff; background-color:#f9f9f9; opacity:30%; width: 30px;height: 30px; ;}