* {
    margin: 0;
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our-story-section {
    color: green;
}

#watch-section {
    color: darkred;
}

#expertise-section {
    color: fuchsia;
}

#team-section {
    color: yellowgreen;
}

#contact-client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
    }