* {
    margin: 0;
}

header{
    background-image: url(../photoshop/design-assets/bgk-header.png);
    background-size: 100% 100%;
    height: 672px;
}

nav {}

nav a {
    color: white;
}

nav a:visited {
    color: #00E0D0;
}

.navGrid {
    display: grid;
    grid-template-columns: 48% auto;
    grid-template-rows: 50px;
    grid-template-areas:    "logo nav";
    position: fixed;
    font-family: 'Playfair Display', serif;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 16px;
    justify-items: center;
    align-items: center;
}

.logoContainer {
    grid-area: logo;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo {
    display: inline-flex;
    width: 44px;
    height: 50px;
}

.logoText {
    color: rgba(0, 224, 208, 1);
    display: inline-flex;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.navFlex {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: -1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
}

.navFlexItem {
    display: inline-flex;
    padding-right: 12px;
    color: white;
}

.heroGrid {
    display: grid;
    grid-area: hero;
    /* grid-template-rows: 163px auto 19px auto 29px auto 48px auto 207px; */
    grid-template-rows: 40% auto 19px auto 29px auto 48px auto ;
    padding-top: 66px;
    justify-items: center;
    color: white;
}

.heroFlexItem {
    display: flex;
    justify-content: center;
    padding:  0;
}

.heroFlexItem_1 {
    grid-row-start: 2;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
}

.heroFlexItem_2 {
    grid-row-start: 4;
    width: 53px;

}

.heroFlexItem_2 hr {
    border-color: rgba(0, 224, 208, 1);
}

.heroFlexItem_3 {
    grid-row-start: 6;
    width: 48%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7rem;
}

.heroFlexItem_4 {
    grid-row-start: 8;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.heroGrid button {
    color: rgba(0, 224, 208, 1);
    border: rgba(0, 224, 208, 1) 0.8px solid;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
}

#hero-section button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#our-story-section {
    color: green;
}

#watch-section {
    color: darkred;
}

/* GLOBAL EXPERTIES SECTION STYLING */
#expertise-section {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    padding: 5% 15%;
}

/* EXPERTIES HEADER STYLING */
.experties_header {
    text-align: center;
    padding-bottom: 40px;
}
.experties_header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
}
.experties_header p {
    color: gray;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}

/* OUR EXPERTIES STYLING */
.our_experties p {
    color: gray;
    font-family: 'Roboto-light', sans-serif;
    font-size: 14px;
}

.our_experties article {
    padding: 20px;
}

.our_experties h4 {
    padding: 9px 0 9px 0;
    font-family: 'Roboto-black', sans-serif;
    font-size: 14px;
}

.row-1 {
    display: flex;
    text-align: center;
    border-bottom: 0.8px solid rgb(216, 214, 214);
}

.row-2 {
    display: flex;
    text-align: center;
}

.border {
    border-right: 0.8px solid rgb(216, 214, 214);
}

/* GLOBAL TEAM SECTION STYLING */
#team-section {
    margin: 0;
    padding: 5% 0;
    line-height: 1.6;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
    background-image: url(../photoshop/design-assets/bgk-header.png);
    background-size: 100% 100%;
    color: white;
}

/* TEAM HEADER STYLING */
.teamHeader {
    text-align: center;
    padding-bottom: 40px;
    color: #fff;
}
.teamHeader h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
}
.teamHeader p {
    color: #F9F9F9;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}
/* TEAM PICTURES STYLING */
.teamPictures {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.team {
    width: 229px;
    border: 0.8px solid rgb(184, 182, 182);
}

.team h4 {
    font-family: 'Roboto-black', sans-serif;
    font-size: 14px;
}

.team p {
    color: #FAFAFA;
    font-family: 'Roboto-light', sans-serif;
    font-size: 13px;
    opacity: 0.7;
}
.teammateName {
    padding: 15px 0;
}
.picture {
    height: 229px;
    background-color: white;
}

/* WE ARE HIRING STYLING */
.weAreHiring {
    text-align: center;
    padding: 45px;
}

.weAreHiring p {
    padding-bottom: 10px;
    font-family: 'Roboto-light', sans-serif;
    font-size: 14px;
    color: #F3F3F3;
}

.weAreHiring button {
    color: rgba(0, 224, 208, 1);
    border: rgba(0, 224, 208, 1) 0.8px solid;
    border-radius: 2px;
    padding: 10px;
    background: transparent;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.weAreHiring button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* EXTRAS */
.hrExpertis {
    width: 5%;
    margin-left: 47.5%;
    color: black;
    border: solid 1px rgba(65, 61, 75, 1);
    margin-top: 10px;
    opacity: 0.3;
}

hr {
    width: 5%;
    margin-left: 47.5%;
    color: black;
    border: solid 1px rgba(255, 255, 255, 1);
    margin-top: 10px;
    opacity: 0.2;
}

#contact-client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
    }